boto==2.48.0
captcha==0.2.4
certifi==2017.7.27.1
chardet==3.0.4
Django==1.10.5
django-appconf==1.0.2
django-blog-it==0.2.3
django-compressor==2.2
django-el-pagination==3.1.0
django-markdown-deux==1.0.5
django-modelcluster==3.1
django-simple-captcha==0.5.5
django-simple-pagination==1.1.8
django-storages==1.6.5
django-taggit==0.22.1
django-treebeard==4.1.2
djangorestframework==3.6.4
html5lib==0.999999999
idna==2.6
markdown2==2.3.4
microurl==0.1.1
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3.1
puput==0.9.1
PyMySQL==0.7.11
pytz==2017.2
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
six==1.11.0
Unidecode==0.4.21
urllib3==1.22
wagtail==1.12.2
webencodings==0.5.1
Willow==0.4
wincertstore==0.2
