<!-- brief_introduction_of_laboratory.html -->
{% extends 'base2.html' %}
{% block title %}实验室简介{% endblock %}
{% block content %}
    <div class="panel-heading">
            <p style="font-family: '微软雅黑';font-size: 14pt;font-weight: bold;">
                简介
            </p>
        </div>
        <div class="panel-body" style="background-color: lavender">
            <p>
                {% for la in laboratory %}
                        {{ la.introduction }}
                {% endfor %}
            </p>
        </div>
        <br>
        <div class="panel-heading">
            <p style="font-family: '微软雅黑';font-size: 14pt;font-weight: bold;">
                规章制度
            </p>
        </div>
        <div class="panel-body" style="background-color: lavender">
            <p>
                {% for la in laboratory %}
                        {{ la.rules}}
                {% endfor %}
            </p>
        </div>

        <br>
        <div class="panel-heading">
            <p style="font-family: '微软雅黑';font-size: 14pt;font-weight: bold;">
                研究方向
            </p>
        </div>
        <div class="panel-body" style="background-color: lavender">
            <p>
               {% for la in laboratory %}
                        {{ la.research_area}}
                {% endfor %}
            </p>
        </div>
        <br>
{% endblock %}