<!-- brief_introduction_of_laboratory.html -->
{% extends 'base2.html' %}
{% block title %}实验室简介{% endblock %}
{% block content %}
    <div style="border: solid rgba(104,52,42,0.14) 1px;" class="container table-responsive">
        <label style="padding: 20px;   ">承担项目 > 正在进行的项目 > {{ project.name }}</label>
        <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ project.name }}</h3>
        </div>
        <div class="panel-body">

            {{ project.content }}
             <br><br>
            作者：{% for stu in project_student %}
                        {% if stu.student.graduate == False %}
                            <a href="{%  url 'lab:s_student' %}">{{ stu.student.name }}</a>

                        {% else %}
                            <a href="{%  url 'lab:g_student' %}">{{ stu.student.name }}</a>
                        {% endif %}
                  {% endfor %}
            {% for tea in teacher_project %}
                    <a href="{%  url 'lab:teacher' %}">{{ tea.teacher.name }}</a>
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}