{% extends 'base2.html' %}
{% block title %}欢迎来到418lab{% endblock %}
{% block content %}

    <div style="border: solid rgba(104,52,42,0.14) 1px;" class="container table-responsive">
        <label style="padding: 20px;   ">科研成果 > 获奖</label>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>获奖名称</th>
                        <th>获奖时间</th>
                    </tr>
                </thead>
                <tbody  >
                    {% for p1 in prize1    %}
                    <tr>
                       <td> <a href=" {%  url 'lab:prizepage' p1.id %} ">{{ p1.name }}</a> </td>
                        <td> {{p1.time|date:"Y-m-d"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>获奖论文</th>
                        <th>获奖时间</th>
                    </tr>
                </thead>
                <tbody  >
                    {% for p2 in prize2    %}
                    <tr>
                        {% if p2.genre == 'monograph' %}
                           <td> <a href=" {%  url 'lab:prizepage' p2.id %} ">{{ p2.name }}</a> </td>
                            <td> {{p2.time|date:"Y-m-d"}}</td>
                        {% endif %}
                            <td> <a href=" {%  url 'lab:paperpage' p2.id %} ">{{ p2.name }}</a> </td>
                            <td> {{p2.time|date:"Y-m-d"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">下一页</a>
                </li>
              </ul>
            </nav>

    </div>

{% endblock %}