{% extends 'base2.html' %}
{% block title %}欢迎来到418lab{% endblock %}
{% block content %}

    <div style="border: solid rgba(104,52,42,0.14) 1px;" class="container table-responsive">
        <label style="padding: 20px;   ">信息通知 > {{ Infor.title }} </label>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ Infor.title }}</h3>
            </div>
            <div class="panel-body">

                {{ Infor.content }}
            </div>
        </div>
    </div>

{% endblock %}

