{% extends 'base2.html' %}
{% block title %}欢迎来到418lab{% endblock %}
{% block content %}

    <div style="border: solid rgba(104,52,42,0.14) 1px;" class="container table-responsive">
        <label style="padding: 20px;   ">学习资源 > 友情链接 </label>

            <table class="table table-hover ">

                <tbody  >

                    <tr>
                       <td> <a href=" http://djangobook.py3k.cn/2.0/ ">这里有一个django学习资源的链接！</a> </td>
                    </tr>
                    <tr>
                       <td> <a href=" http://www.runoob.com/ ">一个python学习资源的链接！</a> </td>
                    </tr>

                </tbody>
            </table>


    </div>

{% endblock %}
